<%unless @c.nil?%>
<div class="table-responsive">
  <table class="table">
    <tr>
      <td><h5>Изображение</h5></td>
      <td><h5>Название</h5></td>
      <td><h5>Цена</h5></td>
      <td><h5>Количество</h5></td>
      <td><h5>Удалить</h5></td>
    </tr>
    <%@c.each do |q|%>
        <tr>
          <td><%=image_tag(q[0].image, width: '90', alt: q[0].name)%></td>
          <td><%=q[0].name%></td>
          <td><%=q[0].price%></td>
          <td><%=q[1]%></td>
          <td><%=link_to 'Удалить', items_cart_del_path(:del_id => q[0].id), {class: "btn btn-primary", role: "button"}%></td>
        </tr>
    <%end%>
    <tr>
      <td></td>
      <td></td>
      <td><h5>Сумма заказа:</h5></td>
      <td><h5><%=@p%>руб.</h5></td>
      <td><%=link_to 'Оформить заказ',  orders_create_order_path, {class: "btn btn-primary", role: "button"}%></td>
    </tr>
</table>
</div>
<%else%>
<h3>Ваша корзина пуста</h3>
<%end%>